html, body {
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	margin  : 0;
	padding : 0;
	height  : 100%;
	/* width   : 100%; */
}
#map {
	height: 100%;
	width: 100%;
}

#pulldown {
	position: absolute;
	left: 0;
	width: 320px;
	z-index: 1000;
	top: 0px;
}

#pulldown .panel {
	margin: 0;
	border: 0;
	font-weight: normal;
	overflow: visible;
	background-color:#97B3CD;
}

.flat {
	border-radius: 0px;
}

#pulldown-content .panel-heading {
	background-color: #155481;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #80a0b0;
}

hr {
	border-top: 1px solid #80a0b0;	
}

.list-group-item {
	background-color:#97B3CD;
	border: 1px solid #80a0b0;
}

#BaseLayerList {
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#BaseLayerRow {
	height: 206px;
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
}
#layerPanel-group {
	height: 215px;
	overflow: auto;
}

.rotate-45deg    {  
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}

/* Overwriting these because the default rounded corners didn't look quite right */
.panel-heading, .flat-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/* we have to explicitly set the full-screen width, otherwise it will only take up the original width of the window its in */
.map:-moz-full-screen {
	height: 100%;
	width: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
	width: 100%;
}
.map:full-screen {
	height: 100%;
	width: 100%;
}

#map .ol-zoom {
	position: absolute;
	right: 8px;
	top: 38px;
	left: auto;
}
#map .ol-zoom-out {
	top: 30px;
	margin-top: 202px;
}

#map .ol-zoomslider {
	position: absolute;
	background-color: transparent;
	top: 62px;
	left: auto;
	right: 11px;
	width: 24px;
}
#map .ol-zoomslider-thumb {
	position: absolute;
	border-radius: 2px;
	left: auto;
	width: 24px;
	height: 12px;
}

#layerPanel a.accordion-toggle { 
	display: inline-block;
}

.layerSpan {
}
