html, body {
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	margin  : 0;
	padding : 0;
	height  : 100%;
	/* width   : 100%; */
}
#map {
	height: 100%;
	width: 100%;
}

#pulldown {
	position: absolute;
	left: 0;
	width: 320px;
	z-index: 1000;
	top: 0px;
}

#pulldown .panel {
	margin: 0;
	border: 0;
	font-weight: normal;
	overflow: visible;
}

#pulldown-content .accordion-toggle {
	background-color: #000;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #999;
}


/* we have to explicitly set the full-screen width, otherwise it will only take up the original width of the window its in */
.map:-moz-full-screen {
	height: 100%;
	width: 100%;
}
.map:-webkit-full-screen {
	height: 100%;
	width: 100%;
}
.map:full-screen {
	height: 100%;
	width: 100%;
}

#map .ol-zoom {
	position: absolute;
	right: 8px;
	top: 38px;
	left: auto;
}
#map .ol-zoom-in {
} 
#map .ol-zoom-out {
	top: 30px;
	margin-top: 202px;
}

#map .ol-zoomslider {
	position: absolute;
	background-color: transparent;
	top: 62px;
	left: auto;
	right: 11px;
	width: 24px;
}
#map .ol-zoomslider-thumb {
	position: absolute;
	border-radius: 2px;
	left: auto;
	width: 24px;
	height: 12px;
}
